html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-align: stretch;
        align-items: stretch;
}

#navbarHeader,
footer {
    -ms-flex-positive: 0;
        flex-grow: 0;
}

.album {
    -ms-flex-positive: 1;
        flex-grow: 1;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.album {
    position: relative;
    padding: 1rem 0;
    background-color: #f7f7f7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
}

.content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: stretch;
        align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.content .actions {
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.content .posts-wrap {
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    position: relative;
    padding: 2rem 0.5rem;
    background: rgba(255,255,255,1);
    border: 0.2rem solid #e8e8e8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
}

.posts-content {
    overflow-y: auto;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    padding: 10px;
}

.posts,
.post-comments{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
}

.post-comments{
    display: none;
    margin: 1rem 0 1rem 2rem;
}

.post,
.post-comment{
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    float: left;
    width: 100%;
    padding: 0.75rem;
    border: 0;
}

.post-comment {
    box-shadow: none;
    border:1px solid #e8e8e8;
}

.post-info p,
.post-comment-info p
{
    margin: 0;
}

.post-text,
.comment-text {
    font-size: 0.8rem;
}

.post-edit,
.post-comment-edit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: end;
        align-items: flex-end;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
}

.post-edit-buttons,
.post-comment-edit-buttons {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.post:hover .post-edit-buttons,
.post-comment:hover .post-comment-edit-buttons {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.post-edit .btn,
.post-comment-edit .btn{
    margin: 0 5px;
}

footer {
    padding: 1rem 0;
}

footer p {
    margin-bottom: .25rem;
}

.user-info {
    margin-bottom: 0.5em;
}

/*social*/
.fa.fa-google-plus {
    color: #C53929;
}

/* wall */
.wall-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: stretch;
        align-items: stretch;
}

.wall-errors .alert {
    margin: 1rem;
}
/* form */
#form {
    background: rgba(255,255,255,1);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-left: -17px;
    border: 0.2rem solid #e8e8e8;
    transition: all 0.6s;
    z-index: 2;
}

#form > .container > form {
    padding: 1rem 0;
}

#buttons,
#alerts {
    margin-bottom: 1rem;
}

#alerts {
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    margin-left: -15px;
}

.shadow {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,0.3);
    transition: all 0.5s ease ;
}

/* infinite scroll */
.loader {
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
    background: rgba(0,0,0,0) url('../image/loader.gif') no-repeat scroll center center;
    height: 5px;
    margin: 1rem 0;
    width: 160px;
    position: absolute;
    right: calc(50% - 80px);
    z-index: 3;
    bottom: 0;
    margin-bottom: 12px;
}